{% extends "base_generic.html" %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {% for player in players_form %}
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <p class="fw-bold">{{ player.0.number }}. {{ player.0.people_id }}</p>
                </div>
                <div class="col-3">
                    {{ player.1 }}
                </div>
            </div>
        </div>
        {% endfor %}
        <input type="submit" value="Сохранить">
    </form>

{% endblock %}